log/*.log
log/*.pid
tmp/**/*
.DS_Store
doc/api
doc/app
coverage/*
nbproject/*
db/*.sqlite3
.svn
db/schema.rb
public/pictures/**
config/development.sphinx.conf
db/sphinx/*
*.swp
*.*~
tmp/tags
*.swo
config/database.yml
